<!DOCTYPE html>
<html class="no-js" ng-app="stones">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Stones</title>
        <meta name="description" content="Card Game">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="<%= asset_path("stones/favicon.png") -%>">
        <%= stylesheet_link_tag "stones/manifest", :media => "all" %>
        <%= javascript_include_tag "stones/manifest" %>
        <!--[if lte IE 8]>
        <script>
            document.createElement('card');
        </script>
        <![endif]-->
    </head>
    <body>
    <div id="game"><div>
        <div id="header">
            <div class="column center">Player</div>
            <div class="column center">Enemy</div>
            <div class="clear"></div>
        </div>
        <div id="fields">
            <div class="field" id="player-field" ng-controller="PlayerFieldController">
                <div class="hero-column column">
                    <card source="field.hero" class="row-middle card-field"></card>
                    <div class="clear"></div>
                </div>
                <div class="monster-column column">
                    <card source="field.monsters[0]" data-index="0" class="row-top card-field"></card>
                    <card source="field.monsters[1]" data-index="1" class="row-middle card-field"></card>
                    <card source="field.monsters[2]" data-index="2" class="row-bottom card-field"></card>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="field" id="enemy-field" ng-controller="EnemyFieldController">
                <div class="monster-column column">
                    <card source="field.monsters[0]" data-index="0" class="row-top card-field"></card>
                    <card source="field.monsters[1]" data-index="1" class="row-middle card-field"></card>
                    <card source="field.monsters[2]" data-index="2" class="row-bottom card-field"></card>
                    <div class="clear"></div>
                </div>
                <div class="hero-column column">
                    <card source="field.hero" class="row-middle card-field"></card>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="status">
            <div class="player-status" ng-controller="PlayerFieldController">
                H {{field.hero.hp}} D {{field.deck.length}} G {{field.graveyard.length}}
            </div>
            <div class="play-button">PLAY</div>
            <div class="enemy-status" ng-controller="EnemyFieldController">
                H {{field.hero.hp}} D {{field.deck.length}} G {{field.graveyard.length}}
            </div>
        </div>
        <div id="hand" ng-controller="PlayerFieldController">
            <card ng-repeat="card in field.hand" source="card" class="card-hand"></card>
        </div>
    </div></div>
    </body>
</html>