<!DOCTYPE html>
<html class="no-js" ng-app="stones">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Stones</title>
        <meta name="description" content="Card Game">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="<%= asset_path("stones/favicon.png") -%>">
        <%= stylesheet_link_tag "stones/manifest", :media => "all" %>
        <%= javascript_include_tag "stones/manifest" %>
        <!--[if lte IE 8]>
        <script>
            document.createElement('div');
        </script>
        <![endif]-->
    </head>
    <body>
    <div id="game"><div>
        <div id="header">
            header
        </div>
        <div id="fields">
            <div class="field" id="player-field" ng-controller="PlayerFieldController">
                <div class="hero-column">
                    hero card
                </div>
                <div class="monster-column">
                    <div ng-repeat="monster in field.monsters">monster</div>
                </div>
            </div>
            <div class="field" id="enemy-field" ng-controller="EnemyFieldController">
                <div class="hero-column">
                    hero card
                </div>
                <div class="monster-column">
                    <div ng-repeat="monster in field.monsters">monster</div>
                </div>
            </div>
        </div>
        <div id="status">
            status bars here
        </div>
        <div id="hand">
            player hand here
        </div>
    </div></div>
    </body>
</html>