$width: 800px;
$height: 500px;

// Fonts
$font-size-small: 10px;
$font-size: 14px;
$font-size-large: 18px;

$font-color-light: #ccc;
$font-color: #777;
$font-color-dark: #555;

// Backgrounds
$bg-color-light: #eee;
$bg-color: #999;
$bg-color-dark: #222;

// Colors
$color-hp: #d0363a;
$color-mp: #3686d0;
$color-xp: #7ed036;
$color-ap: #d0c736;