$width: 822px;
$height: 522px;

// Fonts
$font-size-small: 10px;
$font-size-halfsmall: 11px;
$font-size: 12px;
$font-size-halflarge: 14px;
$font-size-large: 16px;

$font-color-light: #ccc;
$font-color-halflight: #aaa;
$font-color: #777;
$font-color-halfdark: #666;
$font-color-dark: #555;

// Backgrounds
$bg-color-light: #eee;
$bg-color: #999;
$bg-color-dark: #222;

// Colors
$color-hp: #d0363a;
$color-mp: #3686d0;
$color-xp: #7ed036;
$color-ap: #d0c736;

// Rarity Colors
$common-color-light: #eee;
$common-color: #ddd;
$common-color-dark: #ccc;
$uncommon-color-light: #c5f982;
$uncommon-color: #93db35;
$uncommon-color-dark: #8ab355;
$rare-color-light: #6ea3e8;
$rare-color: #2475de;
$rare-color-dark: #2a66b6;
$mythic-color-light: #b34aff;
$mythic-color: #8f20de;
$mythic-color-dark: #6700b1;
$legendary-color-light: #ff2b2b;
$legendary-color: #f40e0e;
$legendary-color-dark: #d30000;