@import "constants";

$icon-size: 13px;

@mixin icon($x, $y) {
  background-position: (-1 * $x * $icon-size) (-1 * $y * $icon-size);
}

.icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 -2px -1px 0;
  padding: 0;
  background-image: image-url("ashen/icons.png");
  background-position: -52px 0px;
  
  &.fire { @include icon(6, 0); }
  &.earth { @include icon(5, 0); }
  &.water { @include icon(4, 0); }
}

@mixin item() {
  
}

.item {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1px;
  margin: 1px 3px;
  width: 22px;
  height: 22px;
  cursor: pointer;
    
  border: {
    top: 1px solid #ccc;
    left: 2px solid #ccc;
    right: 2px solid #eee;
    bottom: 1px solid #eee;
    radius: 3px;
  }
  
  // Rarities
  &.common { border-color: $common-color-dark $common-color-light $common-color-light $common-color-dark; }
  &.uncommon { border-color: $uncommon-color-dark $uncommon-color-light $uncommon-color-light $uncommon-color-dark; }
  &.rare { border-color: $rare-color-dark $rare-color-light $rare-color-light $rare-color-dark; }
  &.mythic { border-color: $mythic-color-dark $mythic-color-light $mythic-color-light $mythic-color-dark; }
  &.legendary { border-color: $legendary-color-dark $legendary-color-light $legendary-color-light $legendary-color-dark ; }
    
  &:hover {
    background-color: #fff;
  }
  
  .item-sprite {
    width: 22px;
    height: 22px;
    background-image: image-url("ashen/items.png");
    background-position: 0px 0px;
  }
}