/**
 *  Definition for the main game layout.
 */

@import "utility";
@import "constants";

body {
  @include unselectable;
}

// Align a layout cell
@mixin cell($width, $height, $left, $top) {
  @include box-size;
  position: absolute;
  width: $width;
  height: $height;
  left: $left;
  top: $top;
  padding: 10px;
}

#container {
  width: $width;
  height: $height;
  position: absolute;
  top: 5%;
  left: 50%;
  margin: 0 0 0 ($width / -2);
  
  // Align cells absolutely to make it easier to swap around and play
  // with different layout types.
  
  #player {
    @include cell(25%, 16%, 0, 0);
    background: rgba(205, 250, 155, 0.05);
  }
  
  #pet {
    @include cell(25%, 16%, 25%, 0);
    background: rgba(205, 150, 255, 0.05);
  }
  
  #enemy {
    @include cell(50%, 14%, 0, 16%);
    background: rgba(205, 120, 233, 0.05);
  }
  
  #stats {
    @include cell(50%, 30%, 0, 30%);
    background: rgba(255, 150, 190, 0.05);
  }
  
  #combat {
    @include cell(50%, 60%, 50%, 0);
    background: rgba(100, 190, 255, 0.05);
  }
  
  #inventory {
    @include cell(50%, 40%, 0, 60%);
    background: rgba(140, 100, 250, 0.05);
  }
  
  #tabs {
    @include cell(50%, 40%, 50%, 60%);
    background: rgba(255, 190, 140, 0.05);
  }
}

// General tags

html, body {
  color: $font-color;
  font-size: $font-size;
  font-family: Helvetica, Arial, sans-serif;
}

em {
  font-style: normal;
}

// Magic Scrollbars

::selection {
    background: #333;
    color: #FFF;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 5px;
}