/**
 *  Definition for the main game layout.
 */

@import "utility";
@import "constants";

body {
  @include unselectable;
}

// Align a layout cell
@mixin cell($width, $height, $left, $top) {
  @include box-size;
  position: absolute;
  width: $width;
  height: $height;
  left: $left;
  top: $top;
  padding: 10px;
}

#title {
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 ($width / -2 + 20);
  font-size: 32px;
  font-weight: bold;
  color: #f2f2f2;
  font-variant: small-caps;
}

#container {
  @include box-size;
  width: $width ;
  height: $height;
  position: absolute;
  top: 40px;
  left: 50%;
  margin: 0 0 0 ($width / -2);
  background: -webkit-linear-gradient(top, #f2f2f2, #ffefef);
  border-radius: 5px;
  padding: 5px;
  
  > div {
    @include box-size;
    border: 1px solid #d5d5d5;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    border-radius: 3px;
  }
  
  // Align cells absolutely to make it easier to swap around and play
  // with different layout types.
  
  // 800 x 500
  
  #player {
    @include cell(200px, 72px, 0, 0);
    background: rgba(205, 250, 155, 0.01);
  }
  
  #pet {
    @include cell(200px, 72px, 25%, 0);
    background: rgba(205, 150, 255, 0.01);
  }
  
  #enemy {
    @include cell(400px, 59px, 0, 72px);
    background: rgba(205, 120, 233, 0.01);
  }
  
  #stats {
    @include cell(400px, 128px, 0, 131px);
    background: rgba(255, 150, 190, 0.01);
  }
  
  #combat {
    @include cell(400px, 259px, 400px, 0);
    background: rgba(100, 190, 255, 0.01);
  }
  
  #inventory {
    @include cell(400px, 241px, 0, 259px);
    background: rgba(140, 100, 250, 0.01);
  }
  
  #tabs {
    @include cell(400px, 241px, 400px, 259px);
    background: rgba(255, 190, 140, 0.01);
  }
}

// General tags

html, body {
  color: $font-color;
  font-size: $font-size;
  font-family: Helvetica, Arial, sans-serif;
}

em {
  font-style: normal;
}

// Magic Scrollbars

::selection {
    background: #333;
    color: #FFF;
}

::-webkit-scrollbar {
    width: 11px;
    background: #fff;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 5px;
}