<!DOCTYPE html>
<html class="no-js" ng-app="ashen">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Idle Layout</title>
        <meta name="description" content="Layout And Design For Idle World">
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag "idle_layout/manifest", :media => "all" %>
        <%= javascript_include_tag "idle_layout/manifest" %>
    </head>
    <body>
        <div id="message" class="window"><div><div>Welcome to the hurt.</div></div></div>
    </body>
</html>